
.bordered{
    margin: 20px;
    padding: 20px;
   border: solid 1px white;
}

section .row{
    margin-top: 10px;
}
i{
    font-size: 30px;
}
b{
    color: white;
}
.right{
    text-align: end;
}
navMenu {
    display: flex;
}
#navMenu li {
    text-align: center;
    list-style: none;
    font-size: 25px;
    margin-bottom: 50px;
}
#headerMenu {
    display: flex;
    
}
#headerMenu li {
    list-style: none;
    margin-right:  20px;
    margin-top: 10px; 
    font-size: 25px;
}
#headerMenu{
    margin-left: 10px;
}
header img {
    width: 300px;
}

ul li a{
    /* color: white; */
    text-decoration: none;
}
#homeSection {
    height: 200px;
    background-image: url(images/lukasz-szramuk-sJLxhnB80nw-unsplash.jpg);
}

.bordered-top-and-rifght{
    border-top: solid 2px white;;
   border-right: solid 1px white;
   border-bottom: solid 1px white;

}
nav {
    position: fixed;
}

a:hover{
    color: white;
    text-decoration: dashed;
    cursor: pointer;
}
table{
    height: 300px;
    overflow-y: scroll;
}
table tbody tr::after{
    background-color: green;
    color: white;
}

small {
    color: white;
}
.fa:hover{
    color: white;
}
.article-container{
    margin: 20px  60px;
}
.article img{
    /* width: 300px; */
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}
.article img:hover{
    border-radius: 30px;
    opacity: 0.7;
}
#edit{
    color: blue;
}
#delete{
    color: red;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
button:hover{
    background: white;
    padding:10px 20px ;
    border-radius: 25px;
}
small{
    color: gray;
}
.borderOn{
    border: solid 1px white;
}
#addBlog{
    background-color: white;
    color: black;
    padding: 0 80px;
    align-items: center;
    position: relative;
    left: 40%;
}
textarea{
    /* background-color: purple; */
    /* color: white */
}